/* ---------------------------------------- Fonts from Google Fonts ---------------------------------------- */
.shrikhand-regular {
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-style: normal;
}

.oxanium {
    font-family: "Oxanium", serif;
    font-optical-sizing: auto;
    /* font-weight: 200; */
    font-style: normal;
}

/* ---------------------------------------- General ---------------------------------------- */
body {
    margin: 0;
    background-color: #fff;
    font-family: "Oxanium", serif;
    font-weight: 300;
}

h2 {
    font-family: 'Shrikhand', serif;
    color: #1f1d21;
}

hr {
    border: none;
    border-radius: 3px;
    height: 1.5px;
    width: 95%;
    background-color: #855bbe;
}


/* ---------------------------------------- Navbar ---------------------------------------- */
.navbar .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    background-color: #e6d6fc !important;
    text-align: center;
    padding: 10px 0;
}

.navbar-logo,
.navbar-logo:hover {
    color: #1f1d21;
    font-family: "Shrikhand", serif;
    font-size: 2rem;
}


/* ---------------------------------------- Search Bar ---------------------------------------- */
.search-container {
    max-width: 300px;
    text-align: center;
}

@media (min-width: 992px) { 
    .search-container {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.navbar .form-inline input {
    height: 50px;
    width: 300px;
    border: 2px solid #855bbe;
    box-shadow: 3px 4px 0px #855bbe;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
    padding: 8px 15px;
}

.navbar .form-inline input:focus {
    box-shadow: 1px 1px 0px #855bbe;
}


/* ---------------------------------------- Modal styling ---------------------------------------- */
.modal-content {
    border-radius: 23px;
    border: 2px solid #e6d6fc;
    box-shadow: 5px 6px 0px #e6d6fc;
}

.modal-header {
    background-color: #e6d6fc;
    color: #1f1d21;
    font-weight: 700;
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
}

.modal-header .close,
.modal-header .close:active,
.modal-header .close:focus {
    color: #1f1d21;
    font-size: 1.5rem;
    outline: none;
    box-shadow: none;
    border: none;
}

.modal-title {
    font-size: 1.4rem;
    font-family: "Shrikhand", serif;
}

.modal-body input:focus {
    transition: border-color 0.3s ease-in-out;
    border-color: #855bbe;
    box-shadow: 1px 2px 0px #855bbe;
}

.modal-body a,
.modal-footer a {
    color: #855bbe;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.modal-body a:hover,
.modal-footer a:hover {
    text-decoration: underline;
}


/* ---------------------------------------- Buttons styling ---------------------------------------- */
#profileDropdown {
    color: #1f1d21;
    font-size: 1.2rem;
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 20px;
    border: 2px solid #855bbe;
    box-shadow: 3px 4px 0px #855bbe;
    transition: all 0.2s ease-in-out;
}

#profileDropdown:hover,
#profileDropdown:focus {
    background-color: #e6d6fc;
}

.btn-one {
    color: #1f1d21;
    background-color: white;
    padding: 10px 15px;
    font-weight: bold;
    border-radius: 23px;
    border: 2px solid #855bbe;
    box-shadow: 3px 4px 0px #855bbe;
    transition: all 0.2s ease-in-out;
}

.btn-one:hover,
.btn-one:focus {
    background-color: #e6d6fc;
    box-shadow: 3px 4px 0px #855bbe;
}

#profileDropdown:active,
.btn-one:active {
    box-shadow: 1px 1px 0px #855bbe;
    transform: translateY(2px);
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 60px;
}


/* ---------------------------------------- Dropdown Menu Styling ---------------------------------------- */
.dropdown-menu {
    border: none;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 3px 4px 0px #855bbe;
    min-width: max-content;
}

.dropdown-item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.dropdown-item i {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

.dropdown-item:hover {
    background-color: #e6d6fc;
}


/* ---------------------------------------- Banner Styling ---------------------------------------- */
.banner {
    width: 100%;
    height: 250px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* ---------------------------------------- Card Styling ---------------------------------------- */
.card {
    border-radius: 22px;
    box-shadow: 5px 6px 0px #855bbe;
    transition: transform 0.2s ease-in-out;
}

.card-title {
    font-weight: 700;
    color: #1f1d21;
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 25px;
}

.card .text-center {
    margin-top: 15px;
}

.journey-details {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.detail-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e6d6fc;
    padding-bottom: 5px;
}

.date-list {
    margin: 0;
}

.date-list li {
    display: block;
}

.detail-heading {
    font-weight: 600;
}


/* ---------------------------------------- Form styling ---------------------------------------- */
/* ---------------------------------------- Publish Ride Form Styling ---------------------------------------- */
.custom-form {
    border-radius: 22px;
    box-shadow: 5px 6px 0px #855bbe;
    padding: 25px;
}

.custom-form input:focus,
.custom-form select:focus,
.custom-form input:active,
.custom-form select:active {
    transition: border-color 0.3s ease-in-out;
    border-color: #855bbe;
    box-shadow: 1px 2px 0px #855bbe;
}

