/* Fonts from Google Fonts */
.shrikhand-regular {
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-style: normal;
}

.oxanium {
    font-family: "Oxanium", serif;
    font-optical-sizing: auto;
    /* font-weight: 200; */
    font-style: normal;
}

body {
    margin: 0;
    background-color: #fff;
    font-family: "Oxanium", serif;
    font-weight: 300;
}

h2 {
    font-family: 'Shrikhand', serif;
}


/* Navbar */
.navbar .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    background-color: #e6d6fc !important;
    text-align: center;
    padding: 10px 0;
}

.navbar-logo,
.navbar-logo:hover {
    color: #1f1d21;
    font-family: "Shrikhand", serif;
    font-size: 2rem;
}


/* Search Bar */
.search-container {
    max-width: 300px;
    text-align: center;
}

@media (min-width: 992px) { 
    .search-container {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.navbar .form-inline input {
    height: 50px;
    width: 300px;
    border: 2px solid #855bbe;
    box-shadow: 3px 4px 0px #855bbe;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
    padding: 8px 15px;
}

.navbar .form-inline input:focus {
    border-color: #855bbe;
    box-shadow: 1px 1px 0px #855bbe;
}


/* Buttons styling */
#profileDropdown {
    color: #1f1d21;
    font-size: 1.2rem;
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 20px;
    border: 2px solid #855bbe;
    box-shadow: 3px 4px 0px #855bbe;
    transition: all 0.2s ease-in-out;
}

.btn-find,
.btn-find:hover,
.btn-post,
.btn-post:hover {
    color: white;
    background-color: #1f1d21;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 20px;
    border: 2px solid #855bbe;
    box-shadow: 3px 4px 0px #855bbe;
    transition: all 0.2s ease-in-out;
}

#profileDropdown:active,
.btn-find:active,
.btn-post:active {
    box-shadow: 1px 1px 0px #855bbe;
    transform: translateY(2px);
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 60px;
}

/* Hero Image */
.hero-image {
    height: 400px;
    object-fit: cover;
}
