{% extends "base.html" %}
{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow border-0">
                <div class="text-center mb-4">
                    <h1 class="font-weight-bold">Forgot Password</h1>
                </div>
                <div class="card-body">
                    <form id="forgotPasswordForm">
                        <div class="form-group">
                            <label for="forgotPasswordEmail" class="font-weight-bold">Enter Your Email Address:</label>
                            <input type="email" name="email" id="forgotPasswordEmail" class="form-control" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Send Reset Link</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
