{% extends "base.html" %}

{% block title %}Forgot Password{% endblock %}

{% block content %}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form id="forgotPasswordForm" class="custom-form">
                <div class="text-center mb-4">
                    <h2>Send a Reset Password link</h2>
                </div>
                <p class="text-center text-muted mb-5">
                    A link will be sent to you via email. Click the link and follow the instructions to successfully change your password!
                    <br> The link is active up to 10 minutes after sending the email request.
                </p>
                <div class="form-group">
                    <label for="forgotPasswordEmail" class="font-weight-bold">Enter Your Email Address:</label>
                    <input type="email" name="email" id="forgotPasswordEmail" class="form-control" required>
                </div>
                <div class="text-center mt-5">
                    <button type="submit" class="btn btn-base btn-one">Send Reset Link</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
