{% extends "base.html" %}

{% block title %}Home - Car Sharing{% endblock %}

{% block content %}

<!-- Hero Section -->
<div class="container-fluid p-0">
    <div class="position-relative text-white text-center">
        <img src="https://res.cloudinary.com/dpar2oaev/image/upload/v1739734549/0ef6637f-5401-4afa-9d31-71b6da8f0c61.png" class="img-fluid w-100 hero-image" alt="Hero Banner">
    </div>
</div>

<!-- Ride Options -->
<div class="container text-center my-4 btn-container">
    <a href="{{ url_for('view_journeys') }}" class="btn btn-find btn-lg mx-2">Find a Ride</a>

    {% if current_user.is_authenticated %}
        <!-- If user is logged in, go to publish ride page -->
        <a href="{{ url_for('publish_ride_view') }}" class="btn btn-post btn-lg mx-2">Publish a Ride</a>
    {% else %}
        <!-- If user is NOT logged in, open the login modal -->
        <button id="publish-ride-btn" class="btn btn-post btn-lg mx-2" data-toggle="modal" data-target="#signupModal">
            Publish a Ride
        </button>
    {% endif %}
</div>



<!-- Featured Rides -->
<br>
<div class="container text-center my-4">
    <h2>Featured Rides / Popular Routes</h2>
</div>
{% endblock %}
