{% extends "base.html" %}

{% block title %}View Available Journeys{% endblock %}

{% block content %}

<div class="container-fluid my-5">
    <div class="row">

        <!-- sidebar to filter journeys -->
        <div class="col-md-3">
            <div class="filter-sidebar p-3">
                <h5>Sort Journeys by</h5>
                <br>
                <form id="journeyFilters">
                    <div class="mb-3">
                        <label for="filterFrom" class="form-label">From Location</label>
                        <input type="text" class="form-control" id="filterFrom">
                    </div>
                    <div class="mb-3">
                        <label for="filterTo" class="form-label">To Location</label>
                        <input type="text" class="form-control" id="filterTo">
                    </div>
                    <div class="mb-3">
                        <label for="filterDate" class="form-label">Date</label>
                        <input type="date" class="form-control" id="filterDate">
                    </div>
                    <div class="mb-3">
                        <label for="filterCategory" class="form-label">Category</label>
                        <select class="form-control" id="filterCategory">
                            <option value="">All</option>
                            <option value="one-time">One-Time</option>
                            <option value="commuting">Commuting</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="filterPrice" class="form-label">Max Price (£)</label>
                        <input type="number" class="form-control" id="filterPrice">
                    </div>
                    <br>
                    <button type="button" id="applyFilters" class="btn btn-base btn-one w-100">Apply Filters</button>
                </form>
            </div>
        </div>

        <!-- journeys displayed in cards -->
        <div class="col-md-9 card-list-container">
            <h2 class="text-center mb-3">Find a Ride</h2>
            {% if journeys %}
                <div class="row">
                    {% for journey in journeys %}
                        <div class="col-12 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <!-- card heading with highlighted to and from locations -->
                                    <div class="journey-title-container">
                                        <div class="from">
                                            <strong>{{ journey.from_location.split(',')[0] }}</strong>{{ journey.from_location.replace(journey.from_location.split(',')[0], '') }}
                                        </div>
                                        <div class="arrow">→</div>
                                        <div class="to">
                                            <strong>{{ journey.to_location.split(',')[0] }}</strong>{{ journey.to_location.replace(journey.to_location.split(',')[0], '') }}
                                        </div>
                                    </div>
                                    
                                    <!-- journey details -->
                                    <div class="journey-details">

                                        <div class="detail-item">
                                            <span class="detail-heading">Date(s):</span>
                                            {% if journey.category == "one-time" %}
                                                <span>{{ journey.date_time.strftime('%Y-%m-%d') }}</span>
                                            {% elif journey.category == "commuting" %}
                                                <ul class="date-list">
                                                    {% for date in journey.seat_tracking.keys() | sort %}
                                                    <li>{{ date }}</li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </div>

                                        <div class="detail-item">
                                            <span class="detail-heading">Time:</span>
                                            {% if journey.category == "one-time" %}
                                                <span>{{ journey.date_time.strftime('%H:%M') }}</span>
                                            {% elif journey.category == "commuting" %}
                                                <span>{{ journey.commute_times | replace(',', ', ') }}</span>
                                            {% endif %}
                                        </div>
                                    
                                        <div class="detail-item">
                                            <span class="detail-heading">Available Seats:</span>
                                            {% if journey.category == "one-time" %}
                                                <span>{{ journey.seat_tracking.values() | max if journey.seat_tracking else 0 }}</span>
                                            {% elif journey.category == "commuting" %}
                                                <span>Select dates to check availability.</span>
                                            {% endif %}
                                        </div>

                                        <div class="detail-item">
                                            <span class="detail-heading">Price per Seat:</span>
                                            <span>£{{ journey.price_per_seat }}</span>
                                        </div>

                                        <div class="detail-item">
                                            <span class="detail-heading">Driver:</span>
                                            <span>{{ journey.driver_name }}</span>
                                        </div>

                                        <div class="detail-item">
                                            <span class="detail-heading">Category:</span>
                                            <span>{{ 'One-Time' if journey.category == 'one-time' else 'Commuting' }}</span>
                                        </div>
                                    </div>

                                    <div class="text-center mt-3">
                                        {% if user and journey.user_has_booked %}
                                            {% if journey.category == "one-time" %}
                                                <form action="{{ url_for('book_onetime', ride_id=journey.id) }}" method="get">
                                            {% elif journey.category == "commuting" %}
                                                <form action="{{ url_for('book_commuting', ride_id=journey.id) }}" method="get">
                                            {% endif %}
                                            <button type="submit" class="btn btn-base btn-green">Rebook</button>
                                        </form>
                                        {% else %}
                                            {% if journey.seat_tracking and journey.seat_tracking.values() | max > 0 %}
                                                {% if user.is_authenticated %}
                                                    {% if journey.category == "one-time" %}
                                                        <form action="{{ url_for('book_onetime', ride_id=journey.id) }}" method="get">
                                                    {% elif journey.category == "commuting" %}
                                                        <form action="{{ url_for('book_commuting', ride_id=journey.id) }}" method="get">
                                                    {% endif %}
                                                    <button type="submit" class="btn btn-base btn-one">Book</button>
                                                </form>
                                                {% else %}
                                                    <a href="{{ url_for('login') }}" class="btn btn-base btn-blue" data-bs-target="#loginModal" data-bs-toggle="modal" data-bs-dismiss="modal">Log in to Book</a>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p class="text-center mt-4">No journeys available at the moment.</p>
            {% endif %}
        </div> 
    </div>
</div>

{% endblock %}